<h1><%= @team.team_name %></h1>
<p>This is where the team info fixtures will appear!</p>

<% if current_user.role_on_team(@team) == 'manager' %>

<%= link_to "Edit Team", edit_team_path(@team), class: "button [radius round]" %>

<%= link_to "New Fixture", new_match_path(team_id: @team.id), class: "button [radius round]" %>

<% end %>