<h2>What's Blocnotes all about?</h2>
<p>On the surface Blocnotes is an amateur sports management tool</p>
<p>On a deeper level, Blocnotes is my attempt to learn how to code. I tried to build a web business called Futnotes, and I was at the mercy of dark-arting charlatans. I will now build it myself, thus empowering me to never have to work with or talk to anyone that I don't want to. Ever. Again. Amen.</p>
