
  <div class="row">
    <div class="large-9 columns">
    
        
      <%= form_for(@player, :url => players_new_path, :method => :post) do |f| %>
   
          <%= f.hidden_field :team_id, value: params[:id] %>
      <div class="row collapse">
        <div class="large-7 columns">
       
          <%= f.text_field :name, placeholder: 'Add New Player' %>
        </div>
       
        <div class="large-2 columns">
            <%= f.submit "Save",  class: "button postfix" %> 
        </div>
      </div>
      
      <% end %>
    </div>
  </div>
